body {
    background: 275px url(https://static.vecteezy.com/system/resources/previews/003/782/176/non_2x/heart-rate-icon-illustration-cartoon-style-icon-vector.jpg);
    border: 50px solid #004e98;
    height: 1000px;
    background-size: cover; 
    background-position: center; 
   
    margin: 0;


}

#container {
    display: flex;
    justify-content: center;
}

#form-container {
    border: 5px solid red;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 20px;
    width: 1250px;
    height: 150px;
    padding-right: 60px;
    padding-left: 60px;
}

.flex-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 50px;
    padding-right: 25px;
}

label {
    margin-left: 5px;
}

h1,
h2,
p {
    display: flex;
    justify-content: center;
    font-weight: bold;

    text-shadow: 2px 2px 4px rgb(221, 215, 215);
}

#daytime-container {
    padding-top: 225px;
    display: flex;
    justify-content: center;

}

img {
    width: 250px;
    height: 100px;
}

:root {
    --text-color: red;
}

#submit {
    display: flex;
    justify-content: center;
    background-color: #004e98;
    padding-bottom: 8px;
    padding-top: 10px;
}

#form {
    display: flex;
    flex-direction: column;
}

#cardcontainer {
    display: flex;
    justify-content: center;
}

.cards {
    border: 7px solid red;
    padding-top: 10px;
    position: relative;
    text-align: center;
    transition: all .2s ease-in-out;

}

div#line1 h1#a {
    display: inline;
}

div#line1:hover h1#a {
    display: none;
}

div#line1 h1#b {
    display: none;
}

div#line1:hover h1#b {
    display: inline;
}

.cards:hover {
    background-color: #004398;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    border-right: 5px solid red;
    border-left: 5px solid red;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);

}

h2, h3, p, ul {
    margin: 0%;
    font-weight: bold;
}

ul {
    color: red;
    font-weight: bolder;
}


.button {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    background-color: red;
    border-radius: 20px;
    width: 120px;
    color: #fff;
}

#openWindowBtn {
    font-size: 20px;
    padding: 5px 10px;
    border: 5px solid white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: #004e98;
    padding-bottom: 8px;
    padding-top: 10px;

}
#openWindowBtn:hover {
    border-color: #09507c;
    background-color: red;
  }


code {
    color: #09507c;
    background: #deedf2;
    padding: 2px 10px;
    border-radius: 10px;
  }
  
  td {
    border: 1px solid black;
    padding: 15px;
  }
  
  
  