


html {
    box-sizing: border-box;
    height: 100%;
}
body {
    background-color: #3A6EA5;
    /* background-color: rgb(33,31,35); */
}

#nav {
    display: flex;
    align-items: end;
    background-color: #004e98;
    position: auto;
    padding: 20px;
    /* text-decoration: white; */

}

.main {
padding-top: 400px;
}

#cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(238,122,54); */
    background-color: #abc4ff;
    margin: auto;
    width: 90%;
    max-width: 1200px;
}


.cards  {
     border: 10px solid #ec7a37;   
     min-height: 200px;
     padding-top: 75px; 
     position: relative;
     text-align: center;
     transition: all .2s ease-in-out;
}

 .cards:hover {
    background-color: #004398;
    border-top: 5px solid #ec7a37;
    border-bottom: 5px solid #ec7a37;
    border-right: 5px solid #ec7a37;
    border-left: 5px solid #ec7a37;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);

}
h2, h3, p, ul {
    margin: 0%;
    font-weight: bold;
}

ul  {
    color: #796583;
}

:root {
    --text-color: #ec7a37;
}

.button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    background-color: #ec7a37;
    border-radius: 20px;
    width: 120px;
    color: #fff;
}
/* @media screen and (min-width: 1120px); */